* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* COMMON */

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.colored-bg {
    background-color: #9792e4;
}

/* HEADER */

header {
    height: 90px;
    background-color: #0084fd;
}

.head-menu > * {
    color: white;
}

.head-nav {
    display: none;
}

.nav-list {
    list-style-type: none;
    text-decoration: none;
    gap: 1rem;
}

.header-section {
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .container{
        width: 70%;
    }

    .head-menu .menu-icon {
        display: none;
    }

    .head-menu .head-nav {
        display: inline-block;
    }
}

/* MAIN */
/* Info Section */

.row {
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
    /* Debug */
    min-height: 800px;
    border: 1px solid black;
}

#info-section .col {
    background-color: #b5ddff;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    /* Debug */
    min-height: 200px;
}

.big {
    /* Debug */
    min-height: 400px;
}

.content {
    flex-wrap: wrap;
}

.content-text,.content-img {
    width: 100%;
    /* Debug */
    min-height: 150px;
    border: 1px solid black;
}

@media screen and (min-width: 768px) {
    #info-section .row {
        justify-content: space-between;
    }

    #info-section .col.big {
        width: 65%;
    }

    #info-section .col {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }
}

/* Tips Section */

#tips-section {
    /* Debug */
    min-height: 600px;
}

#tips-section .row {
    padding: 3rem 0;
}

.col {
    width: 100%;
    /* Debug */
    min-height: 300px;
}

.white-bg {
    border-radius: 1rem;
    background-color: white;
    width: 100%;
    /* Debug */
    min-height: 300px;
}

@media screen and (min-width: 992px) {
    #tips-section .col{
        width: 50%;
    }

    #tips-section .container {
        width: 50%;
    }
}

/* Testimonials Section */

.card {
    flex-wrap: wrap;
}

#testimonials .col {
    background-color: #9792e4;
    margin-bottom: 2rem;
    border-radius: 2.5rem;
}

.card-img , .card-text {
    width: 100%;
    /* Debug */
    border: 1px solid black;
    min-height: 150px;
}

/* Work with us Section */

#with-us .row {
    padding-top: 2rem;
    gap: 2rem;
}

#with-us .col {
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    #with-us .col {
        width: calc(100% / 2 - 1rem);
    }
}

@media screen and (min-width: 992px) {
    #with-us .col {
        width: calc(100% / 3 - 4rem / 3);
    }
}

/* About Us Section */

.txt {
    margin-bottom: 2rem;
    /* Debug */
    border: 1px solid black;
    min-height: 400px;
}

.img-txt {
    /* Debug */
    border: 1px solid black;
    min-height: 200px;
}