* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* COMMON */

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* HEADER */

header {
    height: 90px;
    background-color: #0084fd;
}

.head-menu > * {
    color: white;
}

.head-nav {
    display: none;
}

.nav-list {
    list-style-type: none;
    text-decoration: none;
    gap: 1rem;
}

.header-section {
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .container{
        width: 80%;
    }

    .head-menu .menu-icon {
        display: none;
    }

    .head-menu .head-nav {
        display: inline-block;
    }
}